body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    direction: rtl;
}

#sidebar {
    width: 250px;
    height: 100vh;
    background: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
    border-left: 2px solid #ccc;
}

#map {
    flex: 1;
    height: 100vh;
}

.dark-mode {
    background: #222;
    color: white;
}

.dark-mode #sidebar {
    background: #333;
    color: white;
}
#legend {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #000;
}